<style>

			
			body {
                background-image: url("http://www-scf.usc.edu/~chen654/s.jpg");

			}
			#searchArea {
			background-color: white;
			border-radius: 6px;
			}
			#searchBar {
			margin-left:2%;
			}
			#tickerSymbol {
                
			}
			#promptText {
			display:none;
			}
			.container {
			}
/*
			#test {
			background-color: white;
			width:80%;
			margin-left:10%;
			}
*/
			#tableBody {
			display: table;
			align-self: left;
			font-family: sans-serif;
			}
			#infoPanels {
			background-color: white;
			border-radius: 6px;
			}
			#sotckDetailUl li {
			cursor: pointer; 
			}
            .left.ng-hide-add {
                
            }
            .left.ng-hide-add.ng-hide-add-active {
               
            }  
            .left.ng-hide-remove {
                transition: all ease-in-out 0.8s;
                transform: translateX(100%);
                opacity: 0;
            }
            .left.ng-hide-remove.ng-hide-remove-active {
                transform: translateX(0);
                opacity: 1;
            }
            .right.ng-hide-add {
                
            }
            .right.ng-hide-add.ng-hide-add-active {
                
            }  
            .right.ng-hide-remove {
                transition: all ease-in-out 0.8s;
                transform: translateX(-100%);
                opacity: 0;
            }
            .right.ng-hide-remove.ng-hide-remove-active {
                transform: translateX(0);
                opacity: 1;
            }
            
            #leftPanel {
/*                transition: all ease-in-out 1s;*/
            }
            #rightPanel {
/*                transition: all ease-in-out 1s;*/
            }  
            #news0, #news1, #news2, #news3, #news4 {
                display: none
            }
            .gold {
                color: gold
            }
            #tess {
                color:red
            }
            
            #infoProg {
                display: block
            }
            #chartProg {
                display: block
            }
            #hisProg {
                display: block
            }            
            #newsProg {
                display: block
            }
            
            
            #hisChart {
                display: none
            }
            #tableBody {
                display: none
            }
            #newsFeeds {
                display: none
			}
            
            #hisErr, #infoErr, #chartErr, #newsErr {
                display: none
            }
            
            #passData {
                color:white;
                display: none
            }
            
		</style>